<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Machine Learning Engineer at
      <a class="underline-link" href="https://www.tesla.com/" target="_blank">Tesla</a> working with a super talented team of engineers on future products and computer vision systems for Tesla's vehicles. As a graduate student advised by
      <a class="underline-link" href="http://www.uoguelph.ca/~gwtaylor/" target="_blank">Dr. Graham W. Taylor</a>, I am working towards an MASc at University Guelph's Machine Learning Research Group (MLRG). I completed my BEng. in Engineering Systems and Computing, and four awesome co-ops at
      <a class="underline-link" href="https://digitalfactory.scotiabank.com/" target="_blank">Scotiabank</a>,
      <a class="underline-link" href="http://www.onsemi.com/" target="_blank">ON Semiconductor</a>,
      <a class="underline-link" href="https://evertz.com/" target="_blank">Evertz Microsystems</a>, and
      <a class="underline-link" href="http://www.jamdeo.com/" target="_blank">Jamdeo</a>.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my penny board,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
