<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Machine Learning Research Scientist at
      <a class="underline-link" href="http://uber.ai/" target="_blank">Uber AI Labs</a> working on meta-learning algorithms. As a graduate student advised by
      <a class="underline-link" href="http://www.uoguelph.ca/~gwtaylor/" target="_blank">Dr. Graham W. Taylor</a>, I am working towards an MASc at
      <a class="underline-link" href="https://www.uoguelph.ca/engineering/" target="_blank">University of Guelph</a>'s Machine Learning Research Group (MLRG) and completed my BEng. in Engineering Systems and Computing, along with five awesome internships at
      <a class="underline-link" href="https://www.tesla.com/" target="_blank">Tesla</a>,
      <a class="underline-link" href="https://digitalfactory.scotiabank.com/" target="_blank">Scotiabank</a>,
      <a class="underline-link" href="http://www.onsemi.com/" target="_blank">ON Semiconductor</a>,
      <a class="underline-link" href="https://evertz.com/" target="_blank">Evertz Microsystems</a>, and
      <a class="underline-link" href="http://www.jamdeo.com/" target="_blank">Jamdeo</a>.
    </p>

    <p>
      As a <strong>Machine Learning Researcher</strong>, I am interested in developing <strong>Continual/Lifelong Learning</strong> algorithms that allow
      <strong>Deep Neural Networks</strong> to continually evolve over time and dynamically adapt to unseen real-world environments at test time,
      and improve as they operate. I enjoy bridging the gap between machine learning research and engineering &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, streamlined user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing basketball, working out at the gym,
      or drawing beautiful landscapes, architectures or cars with pencil.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
