<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Technical Skills" width="80" height="80"></p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>Languages:</strong> Python, C, C++</p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>ML Frameworks:</strong>
    PyTorch, TensorFlow, HuggingFace,  Apple MLX, Fairseq, Megatron, DeepSpeed</p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>ML Models:</strong> GPT,
    Mixture-of-Experts, Stable Diffusion, GNN, ViT, CNN, BERT, GAN</p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>ML Development Tools:</strong> Scientific Python Stack,
    Visual Studio Code, Vim</p>
    <p style="margin-bottom:1cm;" align="center" class="bottom-three"> &#8226 <strong>DevOps Tools:</strong>
    Docker, AWS, Git, SLURM, Jira, Terraform, Kubernetes</p>
    
    <p align="center" class=bottom-small><img src="{{ site.url
    }}/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>Sr. Machine Learning Research Scientist</strong> <br> <a href="https://www.cerebras.net/"
      target="_blank">Cerebras Systems </a><br>Aug 2022 - Present</p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>Machine Learning Research Scientist</strong> <br> <a href="https://www.cerebras.net/"
    target="_blank">Cerebras Systems </a><br>Jan 2020 - Aug 2022</p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>Machine Learning Research Engineer</strong> <br> <a href="https://www.cerebras.net/" target="_blank">Cerebras Systems </a><br>May 2019 - Sept 2019</p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>Machine Learning
    Research Scientist</strong> <br> <a
    href="https://www.uber.com/us/en/uberai/" target="_blank">Uber AI
    Labs</a><br>Oct 2018 - Jan 2018</p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>Machine Learning Engineer (Computer Vision)</strong><br> <a href="https://www.tesla.com/" target="_blank">Tesla</a><br>May 2018 - Sept 2018</p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>Deep Learning Data Scientist</strong> <br><a href="https://www.scotiabank.com/ca/en/personal.html" target="_blank">Scotiabank</a><br>Sept 2016 - Dec 2016</p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>Hardware and Systems Developer</strong> <br><a href="https://www.onsemi.com/PowerSolutions/home.do" target="_blank">On Semiconductor</a><br>May 2016 - Aug 2016</p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>Software Engineer, Video Compression</strong> <br><a href="https://evertz.com/" target="_blank">Evertz Microsystems</a><br>Jan 2015 - Aug 2015</p>
    <p style="margin-bottom:1cm;" align="center" class="bottom-three">&#8226 <strong>Mobile Application Developer (Android)</strong> <br><a href="https://www.linkedin.com/company/jamdeo-flextronics-&-hisense-joint-venture/about/" target="_blank">Jamdeo</a><br>May 2014 - Aug 2014</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>
    <p style="margin-bottom:1cm;" align="center">&#8226 <strong>MASc, </strong>Engineering Systems and Computing<br>Specialization: Machine Learning and Artificial Intelligence<br>Advisor: <a href="https://imatge.upc.edu/web/ferran" target="_blank">Dr. Graham W. Taylor</a></br></p>
    <p style="margin-bottom:1cm;" align="center" class="bottom-three">&#8226 <strong>BEng, </strong>Engineering Systems and Computing</a><br>Specialization: Systems Design and Large-Scale Software Development<br</p>
    
    
    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
