<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>
    <p align="center">&#8226 <strong>Machine Learning Research Scientist</strong> - <a href="https://www.cerebras.net/" target="_blank">Cerebras Systems</a></p>
    <p align="center">&#8226 <strong>Research Scientist</strong> - <a href="https://www.uber.com/us/en/uberai/" target="_blank">Uber AI Labs</a></p>
    <p align="center">&#8226 <strong>Machine Learning Engineer</strong> - <a href="https://www.tesla.com/" target="_blank">Tesla</a></p>
    <p align="center">&#8226 <strong>Deep Learning Data Scientist</strong> - <a href="https://www.scotiabank.com/ca/en/personal.html" target="_blank">Scotiabank</a></p>
    <p align="center">&#8226 <strong>Hardware Developer</strong> - <a href="https://www.onsemi.com/PowerSolutions/home.do" target="_blank">On Semiconductor</a></p>
    <p align="center">&#8226 <strong>Software Engineer</strong> - <a href="https://evertz.com/" target="_blank">Evertz Microsystems</a></p>
    <p align="center" class="bottom-three">&#8226 <strong>Mobile App Developer</strong> - <a href="https://www.linkedin.com/company/jamdeo-flextronics-&-hisense-joint-venture/about/" target="_blank">Jamdeo</a></p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>
    <p align="center">&#8226 <strong>MASc, </strong>Engineering Systems and Computing<br>Specialization: Deep Learning<br>Advisor: <a href="https://imatge.upc.edu/web/ferran" target="_blank">Dr. Graham W. Taylor</a></br></p>
    <p align="center" class="bottom-three">&#8226 <strong>BEng, </strong>Engineering Systems and Computing</a></p>
    
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Technical Skills" width="80" height="80"></p>
    <p align="center">&#8226 <strong>Python</strong>, <strong>C</strong>, <strong>C++</strong>, Java, MATLAB</p>
    <p align="center">&#8226 <strong>PyTorch</strong>, <strong>TensorFlow</strong>, Scientific Python Stack</p>
    <p align="center">&#8226 <strong>Verilog</strong>, VHDL, Embedded C</p>
    <p align="center">&#8226 <strong>Embedded Systems</strong>, Xilinx FPGAs, ARM</p>
    <p align="center" class="bottom-three"> &#8226 <strong>Docker</strong>, <strong>AWS</strong>, Terraform</p>
    
    
    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
